John Leeman <kd5wxb@gmail.com>
<rmay@ucar.edu> <rmay31@gmail.com>
<sarms@ucar.edu> <sarms@unidata.ucar.edu>
<sarms@ucar.edu> <67096+lesserwhirls@users.noreply.github.com>
Derek Groenendyk <derek.groenendyk@gmail.com>
Scott Collis <scollis.acrf@gmail.com>
<joel.rahman.home@gmail.com> <joel@flowmatters.com.au>
<jclark754@gmail.com> <joshua.m.clark@utah.edu>
Hailey Johnson <hailey.johnson@ufl.edu>
Hannah Story <story645@gmail.com>